body {
font-family:Arial, Helvetica, sans-serif;
/*background-image:url("balcDiaBack.png");*/
background-repeat:repeat-x;
background-color:#231F20;/*#f4f4f4;*/
margin:0px;
}

#topWrapper {
	/*border-style:solid;
	border-width:1px;*/
	width: 805px;
	margin: 0px auto;
	background-color:#FFF;
}

#bottomWrapper {
	background-color:#f4f4f4;
	width:100%;
}

#content {
	width: 805px;
	margin: 0px auto;
	background-color:#FFF;
}

#head {
	background-color:#231F20;
	width:805px;
	height:28px;
	color:#FFF;
}

.logIn {
	text-align:center;
	list-style-type: none;
	display: inline;
}

.logIn li {
	width: 90px;
	height: 28px;
	float: right;
	color: #FFF;
	/*border-left:1px solid #FFF;*/
}

.logIn a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 5px 0;
}

.logIn a:hover {
	height: 18px;
	color: black;
	background: #FFF;
	border-radius:6px;
}

#nav {
	background-color:#231F20;
	width:805px;
	height:35px;
	/*padding-left:15px;*/
}

.navigation {
	text-align:left;
	list-style-type: none;
	display: inline;
}

.navigation li {
	width: 134px;
	height: 35px;
	float: left;
	margin-right:5px;
}

.navigation a {
	display: block;
	text-decoration: none;
	text-align:center;
	padding-top:8px;
	color:#FFF;
}

.navigation a:hover {
	height: 27px;
	color: #000;
	background: #f4f4f4;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
}

a.current {
	background-color:#FFF;
	height: 27px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	color:#000;
}

#logo {
	width:805px;
	height:73px;
	background-image:url("blackDiamondLogo.png");
}

#footer {
	background-color:#231F20;
	color:#FFF;
}