@charset "utf-8";
/* CSS Document */
/* Written by Aaron Thompson and Robert Chisholm
/*
/* General Layout of each element
/* Posn. type
/* Posn.
/* Size
/* margin
/* border
/* padding
/* color
/* font
*/
body
{
	margin-top:0px;
	padding-top:0px;
	background:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url("bck.png");
	background-repeat: repeat;
	background-attachment: fixed;
}
#wrapper
{
	background: #fff;
	position: relative;
	width:950px;
	margin:auto;
	border:10px solid #1fbe28;
	border-top:0px;
}

/*logo, admin/home links, search bar*/
#topGroup
{
	position: relative;
	margin: auto;
	height:100px;
	width:940px;

	margin-bottom: 5px;/*Seperate groups*/
}
/*navbar, banner, content*/
#middleGroup
{
	position: relative;
	margin: auto;
	width:940px;
}
/*footer*/
#footGroup
{
	position: relative;
	margin: auto;
	padding: 5px;
	clear: both;
}

/**START TOP GROUP CONTENTS**/
#logo{
	position: absolute;
	top: 0px;
	left: 0px;
	height:100px;
	width:350px;
}
#links{
	position: absolute;
	top: 5px;
	right: 0px;
	cursor: default;
}
#links, #links a, #links a:visited{
	color: #1fbe28;
	font-size:14px;
	text-decoration: none;
}
#links:hover{/*Stops us getting the text cursor when floating between links*/

}
#links a:hover{
	color: #444;
	text-decoration: none;
}
#search{
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-radius: 6px;/*CSS3, Does not validate for such a reason.*/
	padding:9px 8px 9px 10px;/*text and submit margins seem to differ*/
	background-color:#1fbe28;/*or #e1e1e1?, #999 matches link text but #e1e1e1 is too light*/
}
/**END TOP GROUP CONTENTS**/

/**START MIDDLE GROUP CSS**/
/**START NAV CSS**/
#navBar{
	float: left;
	width:200px;
}
#menu{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align:left;
	color:#FFF;
}
#menu li.navTitle, #menu li.navTitleLink{
	margin-top: 5px;
	background-color: #149d14;
	font-weight: bold;
}
#menu li{
	border-radius: 10px;
	border: 0px;
	color:#000;
	background:#1fbe28;
}
#menu li.navTitle{
	padding-left: 8px;
	color: #FFF;
	cursor: default;
}
#menu a, #menu a:visited{
	padding-left: 8px;
	display: block;
	text-decoration:none;
	color:#FFF;
}
#menu a:hover{
	background:#FFF;
	color:#1fbe28;
}
/*END NAV CSS*/
#banner{
	float: right;
	width: 735px;
	font-size:18px;
	background-image: url(deliveryBanner.png);
	margin-bottom: 5px;
}
#content{
	float: right;
	top: 55px;
	right: 0px;
	width:735px;
}
/**END MIDDLE GROUP CSS**/
/**START FOOT GROUP CSS**/
/*footer*/
#footer{
	font-size:12px;
	color:#1fbe28;
	text-align: center;
}
/**END FOOT GROUP CSS**/
/**START CONTENT SPECIFIC CSS - Sales**/
#infoHeader {
	color: purple;
	margin: 5px;
	text-align: center;
}
.mLink, .sLink{
	text-decoration: none;
	color: #266b26;
	font-size: 12px;
}
#productSelectForm, #productSelectForm  h3, #productSelectForm  p{
	margin: 0px;
	color: #777;
}
#productSelectForm  p{
	margin: 3px 0px;
}
.itemBox{
	margin: 5px;
	width:725px;
	position: relative;
}
hr.prodSeperator{
	 color: #1fbe28;
	 margin: 0px;
	 border-style: solid;
	 clear: both;
}

#productSelectForm th{
	
}
#productSelectForm table, #productSelectForm td, #productSelectForm th{
	border-collapse:collapse;
	border:1px solid #000;
	padding:3px 7px 2px 7px;
	text-align:left;
}
/**END CONTENT SPECIFIC CSS - Sales**/
/**START CONTENT SPECIFIC CSS - Admin**/
table.adminTbl {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: #1fbe28;
	border-collapse: collapse;
	width:735px;
}

table.adminTbl td {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: #1fbe28;
}
/**END CONTENT SPECIFIC CSS - Admin**/