vti_encoding:SR|utf8-nl
vti_author:SR|Aaron-PC\\Aaron
vti_modifiedby:SR|Aaron-PC\\Aaron
vti_timelastmodified:TR|20 Jan 2011 22:47:44 -0000
vti_timecreated:TR|20 Jan 2011 22:15:07 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|Assignment\\ 1/design.html Assignment\\ 1/default.html Assignment\\ 1/implementation.html Assignment\\ 1/com1004.html Assignment\\ 1/com1005.html Assignment\\ 2/Assignment2.html Assignment\\ 1/com1003.html Assignment\\ 1/com1002.html Assignment\\ 1/about\\ my\\ course.html Assignment\\ 1/com1001.html Assignment\\ 1/testing.html Assignment\\ 1/how\\ i\\ made\\ the\\ website.html Assignment\\ 1/about\\ me.html Assignment\\ 1/phi126.html index.html Games/gameHome.html
vti_nexttolasttimemodified:TR|20 Jan 2011 22:47:00 -0000
vti_cacheddtm:TX|20 Jan 2011 22:47:44 -0000
vti_filesize:IR|5811
vti_cachedlinkinfo:VX|S|images/Background.png
vti_cachedsvcrellinks:VX|FSUS|Assignment\\ 1/images/Background.png
